/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0 20px;
    padding: 0 20px;
  }
  
  /* Header styles */
  h1 {
    text-align: center;
    margin: 40px 0;
  }
  
  /* Section styles */
  h2 {
    margin: 40px 0 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  h3 {
    margin: 20px 0 10px;
  }
  
  /* List styles */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  /* Work Experience styles */
  .work-experience {
    display: flex;
    flex-wrap: wrap;
  }
  
  .job {
    width: 50%;
    padding: 20px;
  }
  
  /* Skills styles */
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill {
    width: 25%;
    padding: 20px;
  }
  
  /* Additional information styles */
  .additional-info {
    margin: 40px 0;
  }
  
  /* Link styles */
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Media Queries */
@media only screen and (min-width: 768px) {
    body {
      padding: 0 25%;
    }
}