@import "../../_globalColor";

.aoi > i {
  font-size: 30px;
}

.aoi > p {
  margin: 0;
}

.aoi {
  // line-height: 3.5vw;
  text-align: center;
  margin: 10px;
  padding: 20px;
  box-shadow: rgb(0 0 0 / 20%) 0px 10px 30px -15px;
  border: #efefef solid 1px;
  border-radius: 5px;
  color: $titleColor;
}

.aoi-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem 1rem;
}

.aoi-heading {
  font-size: 56px;
  font-weight: 400;
}

.aoi-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.aoi-container > * {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .aoi-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .aoi-heading {
    font-size: 30px;
    text-align: center;
  }
}




